
APP_NAME=Horae
APP_ENV=local
APP_KEY=base64:S9KK0jURA6bbuPu/QCY0wgKwxlVojSaoGOrXOsMXYRU=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=horae_practicas
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

LOG_CHANNEL=stack
LOG_LEVEL=debug

MAIL_MAILER=log
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=horaetest2025@gmail.com
MAIL_PASSWORD="nctg iksb bvvv yqnp"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=horaetest2025@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
